.searchheading{
    background: #333333;
    color: white;
    height: 50px;
}
#subheading{
    float: left;
    font-size: 30px;
    height: auto;
}
.notify-table{
    width: 60%;
    color: white;
}

.c-color{
    width: 30px;
    height: 15px;
    background-color: #bef7bc;
    border: 2px solid #006622;
}
.os-color{
    width: 30px;
    height: 15px;
    background-color: white;
    border: 2px solid grey;
}


.affix {
    top:63px;
    width: 100%;
}

.affix + .tab-content {
    padding-top: 66px;
}


.nav-style{
    border-radius: 0;
    background: #333333;
    z-index: 1001;
    border-bottom: 2px solid #333333;
}
.navbar ul{
    background: #333333;
}
.navbar-toggle{
    background: none;
    border-radius: 0;
    border: 1px solid white;
}
.icon-bar{
    background: white;
}

.nav-tabs.nav-justified a{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    transition: 0.2s;
    border: none;
}
.nav-tabs>li>a{
    border: none;
    border-radius: 0;
    border-bottom: 7px solid white;
}
.nav-tabs.nav-justified a:hover{
    background: rgba(0, 102, 34, 0.45);
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: #006622;
    border: none;
    color: white;
}
.nav-tabs.nav-justified>li>a {
    border: none;
    border-radius: 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus{
    border: none;
}
.nav-tabs.nav-justified>.active>a:hover{
    border: none;
    color: white;
    background: rgba(0, 102, 34, 0.46);
}
.nav-tabs > li.active > a{
    background: #006622;
    border: none;
    color: white;
}

.tab-content{
    padding-top: 3px;
}

.tablecontainer{
    background: white;
    border: 2px solid #006622;
}

#no-more-tables th{
    font-size: 17px;
}
#no-more-tables td{
    font-weight: bold;
}

.cs{
    background: #bef7bc;
}

.btn{
    border-radius: 0;
    background: #006622;
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover{
    background: white;
    color: #006622;
    border: 1px solid #006622;
}

@media (max-width: 768px) {
    .affix + .tab-content {
        padding-top: 72px;
    }

    #header{
        position: fixed;
        z-index: 2000;
    }
    .sidenav{
        height: auto;
    }

    .sidenavchange{
        width: 100%;
        transition: 0.5s;
        position: absolute;
    }

    .incontentchange{
        width: 100%;
        padding: 0 0 0 0;
        margin: 0;
        transition: 0.5s;
        position: fixed;
    }

    .footerchange{
        width: 100%;
        padding: 0 0 0 0;
        margin: 0;
        transition: 0.5s;
    }
}
@media (max-width: 420px) {
    #mainheading{
        font-size: 24px;
    }
    #subheading{
        font-size: 24px;
        height: 16px;
    }
    .searchheading{
        padding-bottom: 5px;
    }
    #content{
        margin-left: 40px;
    }
}

@media (max-width: 318px) {
    #mainheading{
        font-size: 21px;
    }
    #subheading{
        font-size: 21px;
        height: 10px;
    }
}

@media (max-width: 293px) {
    #mainheading{
        font-size: 18px;
    }
    #subheading{
        font-size: 18px;
    }
    .notify-table{
        font-size: 12px;
    }
}
@media (max-width: 630px) {
    .notify-table{
        width: 100%;
    }
}
@media (max-width: 830px) {

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr{
        display: block;
    }

    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 1px solid #006622;
    }

    #no-more-tables td {
        border: none;
        border-bottom: 1px solid gainsboro;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .cs #btntd{
        border: none;
        border-bottom: 1px solid gainsboro;
        position: relative;
        padding-left: 1%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    #no-more-tables td:before{
        content: attr(data-title);
    }
}

@media (max-width: 335px) {

    #no-more-tables td {
        text-align: right;
    }
}