.searchheading{
    background: #333333;
    color: white;
    padding-bottom: 5px;
}
.searchheading h1{
    margin-bottom: 0;
}

.panel{
    width: 100%;
    border: 2px solid #333333;
    background: white;
    height: 100px;
    border-radius: 0;
    align-content: center;
    padding-top: 30px;
    margin-bottom: 0;
}
.bt{
    border: none;
    background: none;
    width: 80px;
    border-radius: 0;
    outline: none;
}
.style{
    width: 80%;
    padding-left: 15%;
}
.searchbar{
    border-radius: 0;
    border: 2px solid #333333;
    color: black;
    font-size: 19px;
}
.input-group-addon{
    border-radius: 0;
    background: #333333;
    color: white;
    border: 2px solid #333333;
    transition: 0.3s;
}
input::-webkit-input-placeholder {
    color: #333333 !important;
    font-size: 20px;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #333333 !important;
    font-size: 20px;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #333333 !important;
    font-size: 20px;
}

input:-ms-input-placeholder {
    color: #333333 !important;
    font-size: 20px;
}

.searchbar:focus {
    border: 2px solid #333333;
    box-shadow: 0 1px 1px rgba(0, 102, 34 , 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.94) !important;
    outline: 0 none !important;
}

.input-group-addon:hover{
    border: 2px solid #333333;
    border-left: none;
    background: lightgrey;
    color: #333333;
}

@media (max-width: 768px) {

    #header{
        position: fixed;
        z-index: 2000;
    }

    .sidenav{
        height: auto;
    }

    .sidenavchange{
        width: 100%;
        transition: 0.5s;
        position: absolute;
    }

    .incontentchange{
        width: 100%;
        padding: 0 0 0 0;
        margin-left: 0px;
        margin-right: 0px;
        transition: 0.5s;
    }

    .footerchange{
        width: 100%;
        padding: 0 0 0 0;
        margin-right: 0px;
        transition: 0.5s;
    }
}

@media (max-width: 420px) {
    #mainheading{
        font-size: 24px;
    }
    #subheading{
        font-size: 24px;
    }
    #content{
        margin-left: 40px;
    }
}

@media (max-width: 318px) {
    #mainheading{
        font-size: 21px;
    }
    #subheading{
        font-size: 21px;
    }
}

@media (max-width: 293px) {
    #mainheading{
        font-size: 18px;
    }
    #subheading{
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .bt{
        width: 40px;
    }
    .style{
        width: 96%;
        padding-left: 3%;
    }
}