.searchheading{
    background: #333333;
    color: white;
    height: 50px;
}
#subheading h1{
    background: #333333;
}

.bt{
    border: none;
    background: none;
    width: 80px;
    border-radius: 0;
    outline: none;
}
.style{
    padding-left: 15%;
    width: 80%;
}
.searchbar{
    border-radius: 0;
    border: 2px solid #333333;
    color: black;
    font-size: 19px;
}
.input-group-addon{
    border-radius: 0;
    background: #333333;
    color: white;
    border: 2px solid #333333;
    transition: 0.3s;
}
input::-webkit-input-placeholder {
    color: #333333 !important;
    font-size: 20px;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #333333 !important;
    font-size: 20px;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #333333 !important;
    font-size: 20px;
}

input:-ms-input-placeholder {
    color: #333333 !important;
    font-size: 20px;
}

.details-table th{
    font-size: 16px;
}

.details-table td{
    font-weight: bold;
}

.send-form{
    color: #333333;
    font-weight: bold;
    font-size: 15px;
}

.searchbar:focus {
    border: 2px solid #333333;
    box-shadow: 0 1px 1px rgba(0, 102, 34 , 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.94) !important;
    outline: 0 none !important;
}

.search:hover{
    border: 2px solid #333333;
    border-left: none;
    background: lightgrey;
    color: #333333;
}

.affix {
    top:63px;
}

.affix + .tab-content {
    padding-top: 44px;
}

.nav-style{
    border-radius: 0;
    background: #333333;
    z-index: 1002;
    border-bottom: 2px solid #333333;
}
.navbar ul{
    background: #333333;
}
.navbar-toggle{
    background: none;
    border-radius: 0;
    border: 1px solid white;
}
.icon-bar{
    background: white;
}

.nav-tabs.nav-justified a{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    transition: 0.2s;
    border: none;
}
.nav-tabs>li>a{
    border: none;
    border-radius: 0;
    border-bottom: 7px solid white;
}
.nav-tabs.nav-justified a:hover{
    background: rgba(0, 102, 34, 0.45);
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: #006622;
    border: none;
    color: white;
}
.nav-tabs.nav-justified>li>a {
    border: none;
    border-radius: 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus{
    border: none;
}
.nav-tabs.nav-justified>.active>a:hover{
    border: none;
    color: white;
    background: rgba(0, 102, 34, 0.46);
}
.nav-tabs > li.active > a{
    background: #006622;
    border: none;
    color: white;
}

.search-panel{
    width: 100%;
    background: white;
    border: 2px solid #333333;
}
.search-panel p{
    font-size: 30px;
}

.form-control{
    border-radius: 0;
}
.send-form:focus{
    border: solid thin #006622;
    box-shadow: 0 1px 1px rgba(0, 102, 34 , 0.075) inset, 0 0 8px rgba(5, 102, 4, 0.94) !important;
    outline: 0 none !important;
}

.topstyle{
    font-size: 20px;
}
.panel{
    width: 100%;
    background: none;
    height: auto;
    border-radius: 0;
    align-content: center;
    margin-bottom: 0;
}
.stylepanel{
    margin-top: 2px;
    margin-bottom: 2px;
    background: white;
    border: 2px solid #006622;
}
.group-label {
    background: #006622;
    color: white;
    font-weight: bold;
    border-color: #006622 ;
    border-radius: 0;
}

.sendbtn{
    width: 98%;
    border-radius: 0;
    background: #006622;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-bottom: 2px;
    border: 2px solid #006622;
    transition: 0.3s;
    margin-left: 1%;
    margin-right: 1%;
}
.sendbtn:hover{
    background: white;
    color: #006622;
    border: 2px solid #006622;
}


@media (max-width: 768px) {
    .affix + .tab-content {
        padding-top: 52px;
    }

    #header{
        position: fixed;
        z-index: 2000;
    }
    .sidenav{
        height: auto;
    }

    .sidenavchange{
        width: 100%;
        transition: 0.5s;
        position: absolute;
    }

    .incontentchange{
        width: 100%;
        padding: 0 0 0 0;
        margin: 0;
        transition: 0.5s;
        position: fixed;
    }

    .footerchange{
        width: 100%;
        padding: 0 0 0 0;
        margin: 0;
        transition: 0.5s;
    }
}
@media (max-width: 420px) {
    #mainheading{
        font-size: 24px;
    }
    #subheading{
        font-size: 24px;
        height: 16px;
    }
    .searchheading{
        padding-bottom: 5px;
    }
    #content{
        margin-left: 40px;
    }
}

@media (max-width: 318px) {
    #mainheading{
        font-size: 21px;
    }
    #subheading{
        font-size: 21px;
        height: 10px;
    }
}

@media (max-width: 293px) {
    #mainheading{
        font-size: 18px;
    }
    #subheading{
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .bt{
        width: 40px;
    }
    .style{
        width: 96%;
        padding-left: 3%;
    }
}

@media (max-width: 767px) {

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables td,
    #no-more-tables tr{
        display: block;
    }
    #no-more-tables th{
        display: none;
    }

    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }


    #no-more-tables td {
        border: none;
        border-bottom: 1px solid gainsboro;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    #no-more-tables td:before{
        content: attr(data-title);
    }

    .topstyle{
        font-size: 15px;
    }

    #form-table table,
    #form-table thead,
    #form-table tbody,
    #form-table th,
    #form-table td,
    #form-table tr{
        display: block;
    }

    #form-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }


    #form-table td {
        border: none;
        position: relative;
        padding-left: 1%;
        white-space: normal;
        text-align: left;
    }

    #form-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    #form-table td:before{
        content: attr(data-title);
    }

}
@media (max-width: 335px) {

    #no-more-tables td {
        text-align: right;
    }
}